/* Color Page */

#red {
    background-color: red;

}

#green {
    background-color: green;

}

#yellow {
    background-color: yellow;

}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generic */

.full-page {
    height: 100vw;
}

/* Utilities */

/* Header */

/* Main */

/* Footer */